@using DiplomService.Models.Users;
@using DiplomService.Services;
@model List<MobileUser>;

@{
    ViewData["Title"] = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int eventId = ViewBag.eventId;
}

<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="title-text">Заполните данные об организуемом мероприятии</p>
    </div>
</div>


<div class="container">
    <a asp-action="AddUser" asp-controller="Events" asp-route-id="@eventId" class="btn-success d-block login-form__submit">Добавить пользователя</a>
    @foreach (var userItem in Model)
    {
        <a asp-action="EditUser" asp-controller="Events" asp-route-id="@userItem.Id" asp-route-eventId="@eventId"  class="item-block my-3  justify-content-between align-items-center">
            @if (userItem.Image != null)
            {
                string? mimeType = ImageWorker.GetImageMimeType(userItem.Image); // MIME-тип по умолчанию

                if (mimeType != null)
                {
                    <img src="data:@mimeType;base64,@Convert.ToBase64String(userItem.Image)" alt="Image" class="item-block__image">
                }
            }
            else
            {
                <img src="/Images/camara.png" alt="Image" class="item-block__image">
            }
            <div class="item-block__column">
                <p class="item-block__title">@userItem.GetFullName()</p>
                <p class="item-block__text">Дата рождения: @userItem.Birthday??.ToShortDateString()</p>
                <p class="item-block__text">Курс обучения: @userItem.Course</p>
            </div>
        </a>
    }
</div>