@model IEnumerable<DiplomService.Models.Event>
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/cabinetstyle.css" asp-append-version="true" />
}

<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="title-text">События.</p>
    </div>
</div>



<div class="container">
    <div class="navigation-block">
        <partial name="_NavPartial" />
    </div>
    <div class="circled-search__block">
        <input type="text" class="circled-search__input">
    </div>


    <p class="fw-bold h4 measureTitle">Текущие события</p>
    <div class="items-section">
        @foreach (var item in Model.Where(x => (x.DateOfEnd >= DateTime.Now || x.DateOfEnd is null) && x.ReadyToShow))
        {
            <a asp-action="Details" asp-controller="Events" asp-route-id="@item.Id" class="d-flex endHiden item-block my-3">
                @if (item.PriviewImage != null)
                {
                    string? mimeType = item.MimeType; // MIME-тип по умолчанию

                    if (mimeType != null)
                    {
                        <img src="data:@mimeType;base64,@Convert.ToBase64String(item.PriviewImage)" alt="Image" class="item-block__image">
                    }
                }
                else
                {
                    <img src="/Images/camara.png" alt="Image" class="item-block__image">
                }
                <div class="item-block__column">
                    <p class="item-block__title">@item.Name</p>
                    <p class="item-block__text">
                        Организатор:
                        @{
                            string value = "";
                            item.Organizations.ForEach(x => value += x.Name + ",");
                            @value
                            ;
                        }
                    <p class="item-block__text">Дата проведения: @item.DateOfStart.ToShortDateString()</p>
                    <p class="item-block__text">
                        Дата окончания:
                            @{
                                if (item.DateOfEnd != null)
                                {
                                    @item.DateOfEnd.Value.ToShortDateString()
                                    ;
                                }
                                else
                                {
                                    @("Не указана")
                                    ;
                                }
                            }
                    </p>
                    <p class="item-block__text">Участников: @item.EventMembers</p>
                        @if (!item.ReadyToShow)
                        {
                        <p class="item-block__text">Не опубликовано</p>
                        }

                </div>
            </a>
        }
    </div>

    <p class="fw-bold h4 measureTitle">Требуют заполнения</p>
    <div class="items-section">
        @foreach (var item in Model.Where(x => !x.ReadyToShow))
        {
            <a asp-action="Details" asp-controller="Events" asp-route-id="@item.Id" class="d-flex endHiden item-block my-3">
                @if (item.PriviewImage != null)
                {
                    string? mimeType = item.MimeType; // MIME-тип по умолчанию

                    if (mimeType != null)
                    {
                        <img src="data:@mimeType;base64,@Convert.ToBase64String(item.PriviewImage)" alt="Image" class="item-block__image">
                    }
                }
                else
                {
                    <img src="/Images/camara.png" alt="Image" class="item-block__image">
                }
                <div class="item-block__column">
                    <p class="item-block__title">@item.Name</p>
                    <p class="item-block__text">
                        Организатор:
                        @{
                            string value = "";
                            item.Organizations.ForEach(x => value += x.Name + ",");
                            @value
                            ;
                        }
                    <p class="item-block__text">Дата проведения: @item.DateOfStart.ToShortDateString()</p>
                    <p class="item-block__text">
                        Дата окончания:
                        @{
                            if (item.DateOfEnd != null)
                            {
                                @item.DateOfEnd.Value.ToShortDateString()
                            }
                            else
                            {
                                @("Не указана")
   
                            }
                        }
                    </p>
                    <p class="item-block__text">Участников: @item.EventMembers</p>
                    @if (!item.ReadyToShow)
                    {
                        <p class="item-block__text">Не опубликовано</p>
                    }
                </div>
            </a>
        }
    </div>

    <p class="fw-bold h4 measureTitle">Завершенные события</p>
    <div class="items-section">
        @foreach (var item in Model.Where(x => x.DateOfEnd < DateTime.Now))
        {
            <a asp-action="Details" asp-controller="Events" asp-route-id="@item.Id" class="d-flex endHiden item-block my-3">
                @if (item.PriviewImage != null)
                {
                    string? mimeType = item.MimeType; // MIME-тип по умолчанию

                    if (mimeType != null)
                    {
                        <img src="data:@mimeType;base64,@Convert.ToBase64String(item.PriviewImage)" alt="Image" class="item-block__image">
                    }
                }
                else
                {
                    <img src="/Images/camara.png" alt="Image" class="item-block__image">
                }
                <div class="item-block__column">
                    <p class="item-block__title">@item.Name</p>
                    <p class="item-block__text">
                        Организатор:
                        @{
                            string value = "";
                            item.Organizations.ForEach(x => value += x.Name + ",");
                            @value
                            ;
                        }
                    <p class="item-block__text">Дата проведения: @item.DateOfStart.ToShortDateString()</p>
                    <p class="item-block__text">
                        Дата окончания:
                            @{
                                if (item.DateOfEnd != null)
                                {
                                    @item.DateOfEnd.Value.ToShortDateString()
                                    ;
                                }
                                else
                                {
                                    @("Не указана")
                                    ;
                                }
                            }
                    </p>
                    <p class="item-block__text">Участников: @item.EventMembers</p>
                        @if (!item.ReadyToShow)
                        {
                        <p class="item-block__text">Не опубликовано</p>
                        }

                </div>
            </a>
        }
    </div>
</div>
    

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/searchScript.js"></script>
    <script src="~/js/searchInputPopUp.js"></script>
    <script src="/js/slideItemScript.js"></script>
}