@model Event

@using DiplomService.ViewModels;
@using DiplomService.ViewModels.Measures;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int eventId = 0;
    if (ViewBag.eventId != null)
    {
        eventId = ViewBag.eventId;
    }
}
<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="title-text">Заполните данные о расписании</p>
    </div>
</div>
<div class="container">
    <div class="navigation-block">
        <a asp-action="Edit" asp-controller="Events" asp-route-id="@Model.Id" class="cabinet-nav__item">Событие</a>
        <a href="#" class="cabinet-nav__item">Расписание</a>
        @if (Model.DivisionsExist)
        {
            <a asp-action="Index" asp-controller="Divisions" asp-route-id="@Model.Id" class="cabinet-nav__item">Подразделения</a>
        }
    </div>
    <p class="display-6">Добавьте расписание</p>
    <div class="circled-search__block">
        <input type="text" class="circled-search__input">
    </div>
    @{
        if (Model.Measures.Count > 0)
        {
            @foreach (var item in Model.Measures)
            {
               <a href="/Measures/Edit/@item.Id" class="my-2 item-block py-2 d-flex justify-content-between">
                    <p class="control-label name">Название: @item.Name</p>
                    <p class="control-label">Основное место проведения: @item.Place</p>
                    <p class="control-label">Продолжительность: @item.Length</p>
                    @if(Model.DivisionsExist){
                        string type = item.SameForAll ? "Всеобщее" : "Обычное";
                        <p class="control-label">Вид мероприятия: @type</p>
                    }
                    
               </a>
            }
        }
        else
        {
            <p class="align-content-center">Настройте расписание проводимого события</p>
        }
        <a href="/Measures/Create/@eventId" class="btn btn-primary w-25 mt-3">
                Добавить мероприятие
        </a>

        <div class="d-flex justify-content-between">
            @{
                string submitValue = Model.DivisionsExist ? "Далее" : "Опубликовать";
                string path = Model.DivisionsExist ? $"/Divisions/Index/{@Model.Id}" : $"/Events/Publish/{@Model.Id}";
                <a href="/Events/Edit/@Model.Id?returnUrl=/Measures/Index/@Model.Id" class="btn btn-primary my-3 w-25">Назад</a>
                <a href="@path" class="btn btn-primary my-3 w-25">@submitValue</a>
            }
        </div>
    }
</div>
@section Faq {
    <div id="faq">
    </div>
    <div id="faq-body">
        <p class="h5 fw-bold">Расписание</p>
        <p class=" h6 fw-bold">На этой странице будут отображатся созданные мероприятия.</p>
        <p class="fw-bold">Добавление:</p>
        <ul>
            <li>
                Нажмите кнопку "Добавить мероприятие".
            </li>
            <li>
                Заполните информацию на странице, на которую перейдете.
            </li>
            <li>
                Добавьте все требуемые мероприятия и нажмите "@submitValue".
            </li>
        </ul>
    </div>
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/searchScript.js"></script>
    <script src="~/js/searchInputPopUp.js"></script>
}