@using DiplomService.Models.Users;
@model List<OrganizationUsers>
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/cabinetstyle.css" asp-append-version="true" />
}
<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="intro__title">Пользователи организации</p>
    </div>
</div>
<div class="container">
    <div class="navigation-block">
        <partial name="_NavPartial" />
    </div>
    @for (int i = 0; i < Model.Count;i++)
    {
        var item = Model[i];
        string action = "Details";
        string controller = "User";
        if (i==0)
        {
            action = "Edit";
            controller = "Cabinet";
        }
        <a asp-controller="@controller" asp-action="@action" asp-route-id="@item.Id" class="item-block d-flex flex-row justify-content-between my-3">
            <span class="item-block__text fw-bold">@item.GetFullName()</span>
            <div class="d-flex col-4 justify-content-between">
                @{
                    string value = "Пользователь";
                    if (item.OrganizationLeader)
                    {
                        value = "Глава организации";
                    }
                    <span class="item-block__text fw-bold">@value</span>
                    if (item.LockoutEnd != null)
                    {
                        <span class="item-block__text fw-bold">Блокировка до @item.LockoutEnd.Value.Date.ToShortDateString()</span>
                    }
                }
            </div>
        </a>
    }
    <a asp-action="addUser" class="btn btn-primary my-3">Добавить пользователя</a>
</div>
